<mat-card>
    <mat-card-title>
        CEP
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput 
            placeholder="CEP:"
            name="name" disabled="true">{{user.cep}}
        </mat-form-field>
        <mat-form-field>
            <input matInput 
            placeholder="Cidade:"
            type="number" 
            
            name="price" disabled="true">{{user.city}}
        </mat-form-field>
        <mat-form-field>
            <input matInput 
            placeholder="Bairro:"
            type="number" 
            
            name="price" disabled="true">{{user.address_name}}
        </mat-form-field>
        <mat-form-field>
            <input matInput 
            placeholder="Endereço:"
            type="number" 
            
            name="price" disabled="true">{{user.address}}
        </mat-form-field>
        
 
    </form>



</mat-card>
